*{
  margin:0;
}

.app_docs{
  /* align-content:'center';
  padding:20px; */
  /* display:flex; */
  align-items:center;
  display:flex;
  flex-direction:column;
  padding: 50px 50px;
  /* justify-content:center; */
}

.app{
  /* colorzilla - chrome- hexcode colour */
  background-color:#fafafa;

}

.app_header{
  position:sticky;
  top:0;
  z-index: 1;
  background-color: white;
  padding:15px;
  margin-bottom: 20px;
  border-bottom : 1px solid lightgray;
  object-fit:contain;
  display:flex;
  justify-content:space-between;
}


.app_header_left{
    flex: 0.85;
    display: flex;
    justify-content: center;
}

.app_header_right{
  flex:0.15;
  display: flex;
  justify-content: right;
}

